<%= form_for(@father) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :sons do |s| %>
    <div class="field">
      <%= s.label :name, "Son Name" %><br>
      <%= s.text_field :name %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
