<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
	<strong>Images</strong>
	<% @picture.images.map do |image| %>
	  <table>
	    <tr>
	      <td><%= image_tag(image) %></td>
	      <td><%= link_to "#{image.file.basename}", image_download_path(path: image.current_path.to_s) %></td>
	    </tr>
	   </table>
	<% end %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
